body {

    font-family:SourceSans;
    width: 90%;
    float: none;
    margin: 0 auto;
}
input[type="text"],input[type=email]
{
    padding:5px;
    font-size:12px;
    font-family:SourceSans; 
}
.logo {
    width: 120px;
}
.panel-heading {
    text-align: center;
}


.form-group {
    /*margin: 20px;*/
    /*padding: 10px;*/
}
.form-control {
	height: 25px;
	font-size: 12px;
}
.btn.btn-primary {
    background: #93e7e7 none repeat scroll 0 0;
    border: 0 none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
}
.panel-default {
	border: 0px;
	background: transparent;
}
.panel-default > .panel-heading {
    background-color: transparent;
    border: 0px;
    font-size: 22px;
    font-weight: bold;
}
.col-md-12 {
	background: #FAFAFA;
}
.col-sm-6 {
    padding-left: 0px;
}
nav {
    background: transparent none repeat scroll 0 0 !important;
    border: 0 none !important;
}
form {
    text-align: center;
    margin-top: 35px;
}
.form-control {
    background: #eff5f7 none repeat scroll 0 0;
    border-color: #e1f0f4;
    font-family: Arial;
    height: 30px;
}
ul {
    font-size: 14px;
    padding-top: 10px;
}
label {
    text-align: left !important;
    font-size: 14px;
}
.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0; 
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
button, select {
    background: #93e7e7 none repeat scroll 0 0;
    border: 0 none !important;
    text-transform: uppercase;
}
.setBottomCenter {
    bottom: 0 !important;
    margin-bottom: 10px;
    position: absolute;
    right: 0%;
    text-align: center;
    color: white; 
}
.input-group-addon {
    background: #00d9db none repeat scroll 0 0;
    color: #000;
}
.text-large {
    font-family: SourceSans;
    font-size: 64px;
    font-style: normal;
    font-variant: normal;
    font-weight: bolder;
    line-height: 70px;
}
.btn.btn-primary:active:focus,.btn.btn-primary.register {

  background-color: #93e7e7; 
  color: #000;
}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
.circular--square {
  border-radius: 50%;
}
h3 {
    margin-top: 0px !important;
}
.login_banner_image {
    width: 70%;
}
select {
    border-radius: 3px;
    height: 35px;
    width: 100%;
}
/*.col-sm-6.col-md-6.col-lg-3 {
    margin-top: 10px;
}*/
.btn.btn-primary.register {
    width: 250px;
}
.col-lg-9.col-md-9.col-sm-9.col-xs-9.bhoechie-tab {
    margin-top: 20px;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    border-color: #93e7e7;
}
.navbar.navbar-default.navbar-fixed-bottom {
    height: 5%;
}
.panel {
    margin-bottom: 0px;
}
.panel-body {
    padding: 0px;
}
.fa {
    color: #00d9db;
}
.modal-backdrop {
    position: static;
}
.navbar-text.pull-right > a {
    color: #777;
}
textarea.form-control {
    font-family: SourceSans;
    height: auto;
}
.success-alert {
    text-align: center;
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
    font-family: SourceSans;
}
.ui-state-default {
    background: #93e7e7 none repeat scroll 0 0 !important;
}
.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all {
    background: #93e7e7 none repeat scroll 0 0;
}
option.select-hr { 
    border-bottom: 1px solid #000; 
}
#user_photo_field,#user_bill_field {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
}
.fileUpload.btn.btn-primary {
    float: right;
    margin-right: 15px;
}
.mainAdvert {
    width: 55%;
}
.form-control:focus
{
    border-color: red;
}
.img-profile {
    margin: 20px;
}
.image-circle {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.list-group-item.active.text-center:focus
{
    outline-style: none;
}.bhoechie-tab-content.active > h1 {
    margin-top: 0;
}
.col-md-12.portfolio-item {
    margin: 10px;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img 
{
      width: 90%;
      margin: auto;
}
.carousel-control.right, .carousel-control.left { 
    background-image: none !important;
}
.carousel {
    padding-top: 10%;
    position: relative;
}
.col-sm-6.col-md-6.col-lg-6.feed-left {
    height: 500px;
    overflow: scroll;
}
.asterick {
    color: #ff0000;
}
#shop{
    background-repeat: repeat-x;    
    height:121px;
    width: 984px;
    margin-left: 20px;
    margin-top: 13px;
}

#shop .content{    
    width: 182px; /*328 co je 1/3 - 20margin left*/
    height: 121px;
    line-height: 20px;
    margin-top: 0px;
    margin-left: 9px;
    margin-right:0px;
    display:inline-block;
    position:relative;
}

#shop .content a {
    position:absolute;
    bottom:5px;
    right:5px;
    background:blue;
    color:#FFF;
}
.col-md-12.portfolio-item {
    background: #93e7e7 none repeat scroll 0 0;
}
.albumCover {
    position:relative;
    text-align: center;

}
.albumCover img {
    position:relative;
    width:100%;
    height:auto;
}
.albumCover div {
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 25%
}
.albumCover a {
    display: block;
    margin: 0 auto;
    width: 150px;
    text-shadow: 2px 2px #ff0000;
}
.foot {
    border-top: 2px solid #999999;
    position:fixed;
    width: 100%;
    z-index: 10000;
    text-align:center;
    height:0px;
    font-size:18px;
    color: #000;
    display: flex;
    justify-content: center; /* align horizontal */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    bottom: -375px;
    background: #494949 none repeat scroll 0 0;

}

.slide-up
{
    background: #93E7E7 none repeat scroll 0 0;
    bottom: 0px !important;
    height:auto;
}

.slide-down
{
    background: #494949 none repeat scroll 0 0 !important;
    bottom: -375px !important;

}
.col-md-10.divviy {
    padding: 1px;
}

.chooseoption {
    background: #93e7e7 none repeat scroll 0 0;
 }
ul {
    font-size: 14px;
    padding-top: 0px !important;
}
.navicons
{
    width: 40px;
}
.nav.navbar-nav.navbar-right > li {
    padding-left: 20px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: #00D9DB !important;
}
.navicons.small {
    width: 25px;
}
.divviy.feed.col6 {
    height: 700px;
    margin: auto;
    overflow: scroll;
    /*width: 50%;*/
}
.form-group.applink {
    font-size: 14px;
    font-weight: bold;
}
.right.carousel-control, .left.carousel-control {
    display: none;
}
.nav-tabs { border-bottom: 2px solid #DDD; }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
    .nav-tabs > li > a { border: none; color: #666; }
        .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #00d9db !important; background: transparent; }
        .nav-tabs > li > a::after { content: ""; background: #00d9db; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:20px}

.card {background: #FFF none repeat scroll 0% 0%; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); margin-bottom: 30px; }
.panel.panel-danger {
    margin: 0 auto;
    width: 50%;
}
.nav.nav-tabs > li {
    font-family: SourceSansBold;
    font-size: 26px;
    text-align: center;
    width: 50%;
}
.container-fluid.well.span6 {
    width: 50%;
}

.img-circle {
    border-radius: 50%;
    height: 140px;
    width: 140px;
    border: 2px solid #e3e3e3;
}
.img-circle-thumbnail {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: 1px solid #e3e3e3;

}

.well {
    padding: 10px;
}
.album {
    padding-bottom: 10px;
}
.col-sm-12 {
    text-align: center;
    width: 100%;
}

.span2 {
    text-align: center;
}
.btn.btn-danger {
    background: #e3e3e3 none repeat scroll 0 0;
    border: 1px solid #e3e3e3;
    color: #000000;
}
.nofollowers{
    margin-left: 15%;
}
.form-horizontal-profile {
    margin-top: 0;
}