/*

HOW TO CREATE AN AUDIO PLAYER [TUTORIAL]

"How to create an Audio Player [Tutorial]" was specially made for DesignModo by our friend Valeriu Timbuc.

Links:
http://vtimbuc.net/
https://twitter.com/vtimbuc
http://designmodo.com
http://vladimirkudinov.com

*/

.audio-player,
.audio-player div,
.audio-player h1,
.audio-player a,
.audio-player img,
.audio-player span,
.audio-player button {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

div.audio-player {
	position: relative;
	width: 400px;
	height: 70px;
	
	background: #93E7E7;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/* Title */
.audio-player h1 {
	position: absolute;
	top: 5px;
	left: 100px;
	font-family: "SourceSans", Arial, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #000;
	/*text-shadow: 1px 1px 1px rgba(0,0,0, .5);*/
}
.audio-player h2 {
	position: absolute;
	top: 6px;
	left: 100px;
	font-family: "SourceSans", Arial, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #000;
	/*text-shadow: 1px 1px 1px rgba(0,0,0, .5);*/
}
.audio-player h3 {
	position: absolute;
	top: 50px;
	left: 100px;
	font-family: "SourceSans", Arial, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #000;
	/*text-shadow: 1px 1px 1px rgba(0,0,0, .5);*/
	text-transform: uppercase;
}
/* Cover */
.audio-player .cover {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}

/* Buttons */
.mejs-controls .mejs-button button {
	cursor: pointer;
	display: block;
	position: absolute;
	text-indent: -9999px;
}

/* Play & Pause */
.mejs-controls .mejs-play button,
.mejs-controls .mejs-pause button {
	width: 31px;
	height: 31px;
	top: 30%;
	left: 300px;
	background-size: 100% !important;
	background: transparent url(../img/mute-unmute_new.png) 0 0;
}

.mejs-controls .mejs-pause button { background-position:0 -31px; }

/* Mute & Unmute */
.mejs-controls .mejs-mute button,
.mejs-controls .mejs-unmute button {
	width: 31px;
	background-repeat: no-repeat;
	height: 31px;
	top: 30%;
	left: 900px;
	background-size: 100% !important;
	background: transparent url(../img/mute-unmute_new1.png) 0 0;
}

.mejs-controls .mejs-unmute button { background-position: 0 -31px; }

/* Volume Slider */
.mejs-controls div.mejs-horizontal-volume-slider {
	position: absolute;
	top: 45%;
	left: 950px;
	cursor: pointer;
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
	width: 200px;
	height: 8px;
	background: #212227;

	-webkit-box-shadow: inset 0px 1px 0px rgba(0,0,0, .3), 0px 1px 0px rgba(255,255,255, .25);
	-moz-box-shadow: inset 0px 1px 0px rgba(0,0,0, .3), 0px 1px 0px rgba(255,255,255, .25);
	box-shadow: inset 0px 1px 0px rgba(0,0,0, .3), 0px 1px 0px rgba(255,255,255, .25);

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
	position: absolute;
	width: 0;
	height: 6px;
	top: 1px;
	left: 1px;
	background: url(../img/volume-bar.png) repeat-x;

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

/* Volume Slider & Progress Bar Handle */
.mejs-controls .mejs-time-rail .mejs-time-handle,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-handle {
	position: absolute;
	display: block;
	width: 12px;
	height: 14px;
	top: -4px;
	background: url(../img/handle.png) no-repeat;
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-handle { top: -2px; }

/* Time Float Box */
.mejs-controls .mejs-time-rail .mejs-time-float {
	position: absolute;
	display: none;
	width: 33px;
	height: 23px;

	background: url(../img/time-box.png);
}

.mejs-controls .mejs-time-rail .mejs-time-float-current {
	width: 33px;
	display: block;
	left: 0;
	top: 4px;

	font-family: Helvetica, Arial, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #666666;
	text-align: center;
}
.mejs-controls div.mejs-time-rail { width: 400px; }
 
.mejs-controls .mejs-time-rail span {
    position: absolute;
    display: block;
    width: 400px;
    height: 7px;
    left: 0;
    bottom: 0;
    cursor: pointer;
 
    -webkit-border-radius: 0px 0px 2px 2px;
    -moz-border-radius: 0px 0px 2px 2px;
    border-radius: 0px 0px 2px 2px;
}
 
.mejs-controls .mejs-time-rail .mejs-time-total { background: #999999; }
 
.mejs-controls .mejs-time-rail .mejs-time-loaded {
    width: 0;
    background: #cccccc;
}
 
.mejs-controls .mejs-time-rail .mejs-time-current {
    width: 0;
    background: #64b44c;
}
.close {
    color: black !important;
    font-size: 40px !important;
}
.mejs-time-total {
    left: 350px !important;
    top: 48%;
}
.mejs-time.mejs-duration-container {
    left: 300px !important;
    margin-left: 530px;
    margin-top: 18px;
}

.mejs-time.mejs-currenttime-container {
    left: 300px !important;
    margin-left: 530px;

}